---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='21 October' %}

  <div class="schedule" data-dates="10-21">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
      {% include schedule/event.html time='10.30 - 9.45 CEST' title='Intro' fill='true' %}
      {% include schedule/talk.html time='10.45 - 11.30 CEST' title='Inside Hotel California: how the Internet giants dominate through culture and technology' fill='true' keynote='true' %}
      {% include schedule/pause.html time='11.30 - 11.45 CEST' title='Coffee break' icon="coffee" fill='true' %}

      <tr>
        {% include schedule/talk.html time='11.45 - 12.30 CEST' title='Surviving microservices' %}
      </tr>

      <tr>
        {% include schedule/talk.html time='12.30 - 13.15 CEST' title='TBD' %}
      </tr>

      {% include schedule/pause.html time='13.15 - 14.15 CEST' title='Lunch' icon="food" fill='true' %}

      <tr>
        {% include schedule/talk.html  time='14.15 - 15.00 CEST' title='Un Castello di Carte (di Credito) tra le Nuvole' %}
      </tr>

      <tr>
        {% include schedule/talk.html  time='15.00 - 15.45 CEST' title='The Road to DevOps' %}
      </tr>

      {% include schedule/pause.html time='15.45 - 16.15 CEST' title='Coffee break' icon="coffee" fill='true' %}

      <tr>
        {% include schedule/talk.html time='16.15 - 17.00 CEST' title='A Django project template with CI/CD pipelines and k8s orchestration' %}
      </tr>

      <tr>
        {% include schedule/talk.html time='17.00 - 17.45 CEST' title='What SCM is useful and necessary on DevOps projects?' %}
      </tr>

      {% include schedule/event.html time='17.45 - 18.00 CEST' title='Bye bye from GrUSP' fill='true' %}

      </tbody>
    </table>
  </div>

  {% include schedule/intro.html date='22 October' %}

  <div class="schedule" data-dates="10-22">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
      {% include schedule/event.html time='10.30 - 9.45 CEST' title='Intro' fill='true' %}
      {% include schedule/talk.html time='10.45 - 11.30 CEST' title='Scaling Prometheus with Cortex, one time series at a time' fill='true' keynote='true' %}
      {% include schedule/pause.html time='11.30 - 11.45 CEST' title='Coffee break' icon="coffee" fill='true' %}

      <tr>
        {% include schedule/talk.html time='11.45 - 12.30 CEST' title='DevOps at Microsoft: Our Internal Transformation Story' %}
      </tr>

      <tr>
        {% include schedule/talk.html time='12.30 - 13.15 CEST' title='How to write cloud-agnostic Terraform code' %}
      </tr>

      {% include schedule/pause.html time='13.15 - 14.15 CEST' title='Lunch' icon="food" fill='true' %}

      <tr>
        {% include schedule/talk.html  time='14.15 - 15.00 CEST' title='Serverless and containers are coming together: an AWS perspective' %}
      </tr>

      <tr>
        {% include schedule/talk.html  time='15.00 - 15.45 CEST' title='Testing in production for fun and profit' %}
      </tr>

      {% include schedule/pause.html time='15.45 - 16.15 CEST' title='Coffee break' icon="coffee" fill='true' %}

      <tr>
        {% include schedule/talk.html time='16.15 - 17.00 CEST' title='Introduzione alla Service Mesh per DevOps' %}
      </tr>

      <tr>
        {% include schedule/talk.html time='17.00 - 17.45 CEST' title='Write your own Kubernetes Operator using Ansible' %}
      </tr>

      {% include schedule/event.html time='17.45 - 18.00 CEST' title='Bye bye from GrUSP' fill='true' %}

      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="10-21">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html track='1' %}
      </thead>
      {% include schedule/event.html time='10.30 - 9.45 CEST' title='Intro' fill='true' %}
      {% include schedule/talk.html time='10.45 - 11.30 CEST' title='Inside Hotel California: how the Internet giants dominate through culture and technology' fill='true' keynote='true' %}
      {% include schedule/pause.html time='11.30 - 11.45 CEST' title='Coffee break' icon="coffee" fill='true' %}

      <tr>
        {% include schedule/talk.html time='11.45 - 12.30 CEST' title='Surviving microservices' %}
      </tr>

      <tr>
        {% include schedule/talk.html time='12.30 - 13.15 CEST' title='TBD' %}
      </tr>

      {% include schedule/pause.html time='13.15 - 14.15 CEST' title='Lunch' icon="food" fill='true' %}

      <tr>
        {% include schedule/talk.html  time='14.15 - 15.00 CEST' title='Un Castello di Carte (di Credito) tra le Nuvole' %}
      </tr>

      <tr>
        {% include schedule/talk.html  time='15.00 - 15.45 CEST' title='The Road to DevOps' %}
      </tr>

      {% include schedule/pause.html time='15.45 - 16.15 CEST' title='Coffee break' icon="coffee" fill='true' %}

      <tr>
        {% include schedule/talk.html time='16.15 - 17.00 CEST' title='A Django project template with CI/CD pipelines and k8s orchestration' %}
      </tr>

      <tr>
        {% include schedule/talk.html time='17.00 - 17.45 CEST' title='What SCM is useful and necessary on DevOps projects?' %}
      </tr>

      {% include schedule/event.html time='17.45 - 18.00 CEST' title='Bye bye from GrUSP' fill='true' %}

      </tbody>
    </table>
  </div>


  <div class="schedule schedule--mobile" data-dates="10-22">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
      {% include schedule/event.html time='10.30 - 9.45 CEST' title='Intro' fill='true' %}
      {% include schedule/talk.html time='10.45 - 11.30 CEST' title='Scaling Prometheus with Cortex, one time series at a time' fill='true' keynote='true' %}
      {% include schedule/pause.html time='11.30 - 11.45 CEST' title='Coffee break' icon="coffee" fill='true' %}

      <tr>
        {% include schedule/talk.html time='11.45 - 12.30 CEST' title='DevOps at Microsoft: Our Internal Transformation Story' %}
      </tr>

      <tr>
        {% include schedule/talk.html time='12.30 - 13.15 CEST' title='How to write cloud-agnostic Terraform code' %}
      </tr>

      {% include schedule/pause.html time='13.15 - 14.15 CEST' title='Lunch' icon="food" fill='true' %}

      <tr>
        {% include schedule/talk.html  time='14.15 - 15.00 CEST' title='Serverless and containers are coming together: an AWS perspective' %}
      </tr>

      <tr>
        {% include schedule/talk.html  time='15.00 - 15.45 CEST' title='Testing in production for fun and profit' %}
      </tr>

      {% include schedule/pause.html time='15.45 - 16.15 CEST' title='Coffee break' icon="coffee" fill='true' %}

      <tr>
        {% include schedule/talk.html time='16.15 - 17.00 CEST' title='Introduzione alla Service Mesh per DevOps' %}
      </tr>

      <tr>
        {% include schedule/talk.html time='17.00 - 17.45 CEST' title='Write your own Kubernetes Operator using Ansible' %}
      </tr>

      {% include schedule/event.html time='17.45 - 18.00 CEST' title='Bye bye from GrUSP' fill='true' %}

      
      </tbody>
    </table>
  </div>


  
</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
