---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='6 Marzo' %}

  <div class="schedule" data-dates="03-06">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='3' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.00-9.30' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.30-9.40' title='Presentazione' fill='true' %}
        {% include schedule/talk.html time='9.45-10.40' title='Inside Hotel California: how the Internet giants dominate through culture and technology' fill='true' keynote='true' %}
        {% include schedule/pause.html time='10.40-11.00' title='Coffee break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.00-11.40' title='The Road to DevOps' %}
          {% include schedule/talk.html title='Serverless and containers are coming together: an AWS perspective' %}
          {% include schedule/talk.html title='A Django project template with CI/CD pipelines and k8s orchestration' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='11.40-12.20' title='It takes two to DevOps' %}
          {% include schedule/talk.html title='Hacking Terraform for fun and profit' %}
          {% include schedule/talk.html title='Cloud Native eBPF Instrumentation' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='12.20-13.00' title='How to write cloud-agnostic Terraform code' %}
          {% include schedule/talk.html title='Open at Microsoft: what do VS Code, .NET, TypeScript and Git have in common?' %}
          {% include schedule/talk.html title='Tale of two cities, dark release in both REST and Message Driven ecosystemß' %}
        </tr>

        {% include schedule/pause.html time='13.00-14.15' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html  time='14.15-15.00' title='Da DevSecOps a SecDevOps: Security is not a matter of doors (and sometimes windows are broken)' %}
          {% include schedule/talk.html  title='Testing in production for fun and profit' %}
          {% include schedule/talk.html  title='Surviving microservices' %}
        </tr>

        <tr>
          {% include schedule/talk.html  time='15.00-15.45' title='IT Asset Management' %}
          {% include schedule/talk.html  title='Scaling Prometheus with Cortex, one time series at a time' %}
          {% include schedule/talk.html  title='tbd.' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.45-16.30' title='Tbd' %}
          {% include schedule/talk.html title='Rousseau Platform: What does it mean to run a high-load critical platform on Kubernetes, while half of the country and national tv is watching you' %}
          {% include schedule/talk.html title='tbd.' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='16.30-17.15' title='tbd.' %}
          {% include schedule/talk.html title='tbd.' %}
          {% include schedule/talk.html title='Write your own Kubernetes Operator using Ansible' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='17.15-18.00' title='tbd' %}
          {% include schedule/talk.html title='tbd' %}
          {% include schedule/talk.html title='tbd' %}
        </tr>

      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="03-06">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
      
        {% include schedule/event.html time='9.00-9.30' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.30-9.40' title='Presentazione' fill='true' %}
        {% include schedule/talk.html time='9.45-10.40' title='Inside Hotel California: how the Internet giants dominate through culture and technology' fill='true' keynote='true' %}
        {% include schedule/pause.html time='10.40-11.00' title='Coffee break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.00-11.40' title='The Road to DevOps' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='11.40-12.20' title='It takes two to DevOps' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='12.20-13.00' title='How to write cloud-agnostic Terraform code' %}
        </tr>

        {% include schedule/pause.html time='13.00-14.15' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html  time='14.15-15.00' title='Da DevSecOps a SecDevOps: Security is not a matter of doors (and sometimes windows are broken)' %}
        </tr>

        <tr>
          {% include schedule/talk.html  time='15.00-15.45' title='IT Asset Management' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.45-16.30' title='Tbd' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='16.30-17.15' title='tbd.' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='17.15-18.00' title='tbd' %}
        </tr>

      
      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="03-06">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='2' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.00-9.30' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.30-9.40' title='Presentazione' fill='true' %}
        {% include schedule/talk.html time='9.45-10.40' title='Inside Hotel California: how the Internet giants dominate through culture and technology' fill='true' keynote='true' %}
        {% include schedule/pause.html time='10.40-11.00' title='Coffee break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.00-11.40' title='Serverless and containers are coming together: an AWS perspective' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='11.40-12.20'  title='Hacking Terraform for fun and profit' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='12.20-13.00' title='Open at Microsoft: what do VS Code, .NET, TypeScript and Git have in common?' %}
        </tr>

        {% include schedule/pause.html time='13.00-14.15' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html  time='14.15-15.00' title='Testing in production for fun and profit' %}
        </tr>

        <tr>
          {% include schedule/talk.html  time='15.00-15.45' title='Scaling Prometheus with Cortex, one time series at a time' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.45-16.30' title='Rousseau Platform: What does it mean to run a high-load critical platform on Kubernetes, while half of the country and national tv is watching you' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='16.30-17.15' title='tbd.' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='17.15-18.00' title='tbd' %}
        </tr>

      
      </tbody>
    </table>
  </div>


  <div class="schedule schedule--mobile" data-dates="03-06">
    <table class="schedule__table">
      <thead>
      {% include schedule/header.html track='3' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.00-9.30' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.30-9.40' title='Presentazione' fill='true' %}
        {% include schedule/talk.html time='9.45-10.40' title='Inside Hotel California: how the Internet giants dominate through culture and technology' fill='true' keynote='true' %}
        {% include schedule/pause.html time='10.40-11.00' title='Coffee break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.00-11.40' ttitle='A Django project template with CI/CD pipelines and k8s orchestration' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='11.40-12.20' title='Cloud Native eBPF Instrumentation' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='12.20-13.00' title='Tale of two cities, dark release in both REST and Message Driven ecosystemß' %}
        </tr>

        {% include schedule/pause.html time='13.00-14.15' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html  time='14.15-15.00' title='Surviving microservices' %}
        </tr>

        <tr>
          {% include schedule/talk.html  time='15.00-15.45' title='tbd.' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.45-16.30' title='Tbd' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='16.30-17.15' title='Write your own Kubernetes Operator using Ansible' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='17.15-18.00' title='tbd' %}
        </tr>

      
      </tbody>
    </table>
  </div>


  
</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
