<div class="limit">

  {% for workshop in site.data.workshops.list %}
    {% if page.url contains workshop.slug %}
      {% include workshop/program.html workshop=workshop %}
      <hr class="hr">

      <div class="intro intro--no-height">
        <h1 class="column__title"><a href="{{ workshop.ticket }}" class="link">Register now</a>, seats are limited</h1>
      </div>

    {% else %}
      {% continue %}
    {% endif %}
  {% endfor %}

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
