<div id="alert" class="alert">
  <div class="alert__container">
    <div class="alert__title">
      CORONAVIRUS OUTBREAK IN ITALY<br/>
      UPDATE ON INCONTRO DEVOPS 2020
    </div>
    <div class="alert__text">
      <h3>
        Incontro DevOps Italia - IDI2020 conference, scheduled for March 5th-6th in Bologna, <u>has been postponed</u>
        to a new
        date, which we will let you know as soon as possible.
      </h3>
      <p>
        We took this decision to protect the health of all people involved and to limit the spread of the
        Coronavirus disease (COVID-2019), according to the Government's decree and with the ordinances of the regions of
        northern Italy, Emilia-Romagna included, which are forbidding shows, events and any form of aggregation.
        So far these ordinances are forbidding such activities until March 1st 2020 included: as of now we cannot
        anticipate
        how the situation will evolve so as GrUSP we decided to keep a line as precautionary as possible and immediately
        communicate the postponement of the event - this is also to give notice in advance (as much as possible) to all
        involved people.
      </p>
      <p>
        At the moment our main priority is to protect the health of all the people and to help contain the spread of the
        virus, trying to limit people's travels and aggregation. Despite the inconvenience that the postponement of the
        conference may cause, we think it is the right thing to do, as well as to stick to the good rules of conduct
        issued by the Ministry of Health
        (<a href="http://www.salute.gov.it/nuovocoronavirus">http://www.salute.gov.it/nuovocoronavirus</a>).
      </p>
      <p>
        To anyone who bought a ticket for the event (applies to conference and workshops as well):<br />
        <ul>
          <li>Ticket will be valid for the new date of the conference, which we will let you know as soon as possible.</li>
          <li>If unable to attend on the new date, we will return a voucher valid to attend another GrUSP event.</li>
        </ul>
      </p>
    </div>
    <a href="#" id="close">Close</a>
  </div>
</div>

<script type="text/javascript">
    document.getElementById('close').onclick = function close() {
        document.getElementById('alert').style = "display: none;";
    }
</script>
