<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <p class="conf-infos__text">
        The 8th edition of Incontro DevOps Italia (IDI2020) will take place in Bologna on Thursday, October 22nd 2020. We are looking forward to meet you again this year!
      </p>
      <p class="conf-infos__text">
        Incontro DevOps is a conference about DevOps, Continuous Delivery, Cloud, Microservices, Automation, Testing, Big Data, Containers, Data Center Operating Systems, Software Operability, IT operating models and how to plan and organise IT Operations.  
      <p class="conf-infos__text">
        During the event, we will also host lightning talks and there will be an open space available. 
        The day before the conference (21st October 2020) our partners will present few <a href="https://2020.incontrodevops.it/workshop.html" target="_blank">workshops</a>.  more news will appear <a href="https://www.facebook.com/incontrodevops/" target="_blank">on Facebook</a> and <a href="https://twitter.com/incontrodevops" target="_blank">on Twitter (@incontrodevops)</a>.
      </p>
      <p class="conf-infos__text">
        The day after the conference (Friday, October 23rd 2020) <a href="https://2020.containerday.it" target="_blank">containerday</a> will take place in the same venue. containerday is the italian conference dedicated to container and virtualisation technologies. 
      </p>  

      <h4 class="conf-infos__title">
        Why join?
      </h4>
      <p class="conf-infos__text">
        Whether you're a novice or an expert, grab the opportunity to learn something new
        from people using those technologies and methodologies every day.
      </p>
      <h4 class="conf-infos__title">
        A day of workshops
      </h4>
      <p class="conf-infos__text">

      </p>


      <div class="vimeo">
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">30+</div>
              <div class="mega-info__text">Sessions</div>
            </div>
            <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">3</div>
              <div class="mega-info__text">Workshops</div>
            </div>

      <div class="vimeo-phrase">
        Dedicated to<br>
        developers, sysadmins,<br>
        DevOps Engineers and IT Managers<br>
        interested in scaling their architectures.
      </div>
    </div>
  </div>
</section>
