<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <p class="conf-infos__text">
        The 8th edition of Incontro DevOps Italia (IDI2020) will take place ONLINE on Wednesday 21st and Thursday 22ns October 2020. We are looking forward to meet you again this year!
      </p>
      <p class="conf-infos__text">
        Incontro DevOps is a conference about DevOps, Continuous Delivery, Cloud, Microservices, Automation, Testing, Big Data, Containers, Data Center Operating Systems, Software Operability, IT operating models and how to plan and organise IT Operations.
      <p class="conf-infos__text">
        The day after Incontro DevOps, another event is happening online: on Friday, October 23rd 2020 you can attend <a href="https://2020.containerday.it" target="_blank">containerday</a> - the italian conference dedicated to container and virtualisation technologies. 
      </p>  

      <h4 class="conf-infos__title">
        Why join?
      </h4>
      <p class="conf-infos__text">
        Whether you're a novice or an expert, grab the opportunity to learn something new
        from people using those technologies and methodologies every day.
      </p>
   


      <div class="vimeo">
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">14</div>
              <div class="mega-info__text">Sessions</div>
            </div>
            <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">3</div>
              <div class="mega-info__text">Workshops</div>
            </div>

      <div class="vimeo-phrase">
        Dedicated to<br>
        developers, sysadmins,<br>
        DevOps Engineers and IT Managers<br>
        interested in scaling their architectures.
      </div>
    </div>
  </div>
</section>
